/*-- scss:defaults --*/
$color-scheme: dark;
$body-color: #F1F1F1;
$body-bg: #1c1c1d;
$gray-300:#F1F1F1;
$breadcrumb-bg: #1c1c1d;
$breadcrumb-divider-color: #F1F1F1;

$navbar-bg: $body-bg;
$navbar-color: $body-color;

.navbar {
    background-color: $navbar-bg;
    color: $navbar-color;
}

.sidebar-navigation a {
    color: #ffffff;
  }

