/*-- scss:defaults --*/
$color-scheme: light;
$body-color: #1c1c1d;
$body-bg: #FBFAF6; /* Stark white for high contrast */
$gray-300: #1c1c1d;
$breadcrumb-bg: #FAF9F6;
$breadcrumb-divider-color: #000000;

$primary: #00bc8c;
$success: #00bc8c;
$info: #17a2b8;
$link-color: $primary;
$link-hover-color: darken($primary, 8%);
$link-decoration: none;
$link-hover-decoration: underline;

$font-size-base: 1.05rem;
$line-height-base: 1.7;
$headings-color: #121212;
$headings-font-weight: 700; /* Bolder headings */

$navbar-bg: #ffffff;
$navbar-color: $body-color;

$card-bg: #ffffff;
$card-border-color: #000; /* Solid black border default */
$border-color: #000;
$border-radius: 0rem; /* No rounded corners */

$code-color: #b40066;
$code-bg: #f8f9fa;
$pre-color: $body-color;
$pre-bg: #f8f9fa;

$navbar-hl: #26ad8c;
.highlight {
  color: #152e28; }
.chip8 {
  color: #01644a;
}
/*-- scss:rules --*/
:root {
  --box-shadow-color: #6c6c6e;
}
